:root {
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62,5%;
    line-height: 1.6rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.grid {
    width:1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width:100%;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}