:root {
    --primary-color:rgb(146, 15, 81);
    --text-color:rgb(65, 63, 63);
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#e6e3e3;
}

.container-music {
    position:fixed;
    left:0;
    right:0;
    top:0;
    padding:0.8em;
    background: url('../img/nendep.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:0.1rem;
}

.icon-container {
    color:var(--primary-color);
    padding:0.7em;
    font-size:1em;
}

.header-heading {
    text-align: center;
}

.nav-head {
    margin:0;
    line-height:1.15;
    font-size:0.8em;
    color:var(--primary-color);
}

.nav-content {
    margin:0;
    color:var(--text-color);
}

.icon-container {

}

.cd {
    
}

.cd-img {
    margin-left:50%;
    transform:translateX(-50%);
    width:12.5em;
    height:12.5em;
    border-radius: 50%;
    opacity:1;
    transition:opacity ease;
}

.audio {
  
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    margin:1em 1em 0 1em;
}

.navigation-item {
    margin:0;
    padding:1em;
    color:var(--text-color);
}

.navigation-item i {
    font-size: 1.2em;
    line-height:34px;
}

.play-pause {
    color:var(--primary-color);
    font-size:2em;
    padding:0.4em;
    position:relative;
    min-width:40px;
}

.p-open {
    display:none;
    position:absolute;
    top:12px;
    
}

.p-close {
}

.reply {
    position:relative;
}

.volume {
    position:relative;
    min-width:20px;
}

.p-volume-open {
    
}

.p-volume-close {
    display:none;
    position:absolute;
}


.progress {
    position:relative;
    -webkit-appearance: none;
    appearance: none;
    background-color:#ccc;
    margin-top:1em;
    margin-left:10%;
    border-radius:4px;
    width:80%;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 10px;
    border-radius:25%;
    background-color:var(--primary-color);
    cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #f0f403;
}

.list-music {
    margin:25.3em 0.8em 4.2em 0.8em;
}

.song {
    display:flex;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 0 2px #757575;
    padding:0.4em 0;
    margin-bottom:4px;
    min-height:83.8px;
}
.song.active {
    background-color: var(--primary-color);
}

.song.active .title,
.song.active .author,
.song.active .option-icon {
    color:#fff;
}

.song:hover {
    background-color:rgba(0, 0, 0, 0.01)
}

.thumb {
    margin-left:4px;
    flex:3;
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat ;
}
.play {
    cursor:pointer;
}

.body {
    flex:6;
    text-align: center;
    padding:0 1.4em;
    align-self: center;
}

.title {
    color:var(--text-color);
    margin:0;
    
}

.author {
    margin:0.3em 0;
}

.option-icon{
    flex:1;
    padding:0.6em;
    color:var(--text-color)
}





.footer {
    display:flex;
    justify-content: space-evenly;
    position:fixed;
    bottom:0;
    right:0;
    left:0;
    background-color: rgb(24, 37, 110);
}

.icon-footer {
    padding:5% 7%;
}

.icon-footer:hover {
    opacity:0.8;
}

.icon-footer i {
    font-size:1.4em;
    color:#fff;
}

.footer .icon-play {
    color:var(--primary-color);
}